* {
  box-sizing: border-box;
}

body {
  background-color: #eef9bf;
}

.header {
  width: 100%;
  height: 10vh;
  margin-top: 6.36vh;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  letter-spacing: -0.004em;
  color: #75b79e;
  text-align: center;
}

.main {
  width: 100%;
  height: auto;
  padding: 47px 116px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.6vw;
}

.card {
  width: 200px;
  height: 250px;
  position: relative;
}

.face {
  width: 100%;
  height: 100%;
  background-color: #A7E9AF;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  transition: all .5s;
  transform-style: preserve-3d;
}

.back-face{
  transform: rotateY(180deg);
}

.selected-back{
  transform: rotateY(0deg);
}

.selected-front{
  transform: rotateY(-180deg);
}

.image {
  width: 9.01vw;
  height: 15.898vh;
}

@media (max-width: 375px) {
  .main {
    flex-direction: column;
    gap: 5.4vh;
  }

  .card {
    width: 31.2vw;
  }

  .back {
    width: 26.67vw;
  }
}
